.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  
  .dashboard-header {
    text-align: center;
    padding: 20px;
  }
  
  .dashboard-map .map-placeholder {
    width: 90%;
    height: 50%;
    background-color: #000000; /* Replace with actual map background */
    margin: 20px 0;
    /* Add additional styling for your map */
  }
  
  