
.camera-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: transparent;
  margin-bottom: 20px;
}

.camera-wrapper {
  width: 100%;
  padding: 20px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000000;
  border-radius: 10px;
}

/* Style for the video element */
.video-element {
  border: 2px solid #007bff;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  height: auto;
}

/* Style for the preview image */
.preview-image {
  max-width: 600px;
  border-radius: 8px;
  margin-top: 20px;
}

/* Style for the buttons */
.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #0056b3;
}

/* Hide the video when preview is shown */
.hide {
  display: none;
}

/* Styling for Gallery */
.gallery {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 10px;
padding: 10px;
max-width: 100%;
}

.gallery img {
width: 100%;
height: auto;
object-fit: cover;
border-radius: 5px;
}

/* Style for material tags */
.tag {
background-color: #007bff;
color: white;
text-align: center;
padding: 5px;
border-radius: 5px;
margin-top: -5px; /* Position the tag closer to the image */
}

/* Style for the modal */
.PreviewModal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.95); 
display: flex;
align-items: center;
justify-content: center;
z-index: 1000; /* Ensure modal is above all other content */
}

/* Style for the modal image */
.PreviewModal img {
max-width: 80%;
max-height: 80%;
box-shadow: 0 0 10px #000;
border-radius: 10px;
}

/* Ensure the modal image does not exceed the viewport */
@media (max-width: 768px) {
  .PreviewModal img {
    max-width: 80%;
    max-height: 80%;
  }

  .camera-container {
    height: auto; /* Adjust the height of the camera container */
    margin-bottom: 10px; /* Add some space below the container */
  }

  .button {
    margin-bottom: 10px; /* Add some space below the buttons */
  }
}


.tag {
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.gallery .PreviewModal {
  display: flex !important; /* Use !important sparingly */
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute; 
  top: 10px; 
  right: 60px; 
}


.delete-button .fa-times-circle {
  font-size: 24px; 
  color: red;
}